@import "pure-min";

$deepblue: #2C3E50; 
$midblue: #2980B9;
$lightblue: #3DB1FF;
$grey: #ECF0F1;
$textBlack: #393939;
$footerBlack: #2F2F2F;
$orange: #E74C3C;

body {
    margin: 0 auto;
    line-height: 1.7em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    height:100%;
    background-color: transparent;
    background-attachment: fixed;
    background-size: auto, cover;
    background-color: $grey;

}

#loader {
    width:100%;
    height:100%;
    z-index:5000;
    position:absolute;
    top:0%;
    left:0%;
    pointer-events:none;
}

button a{
    color: white;
    text-decoration: none;
}

p {
    color: #777;
}

.l-box {
    padding: 1em;
}

.header {
    margin: 0 0;
}

    .header .pure-menu {
        padding: 0.5em;
        background-color:rgba(255,255,255,0.9);
    }

        .header .pure-menu li a:hover,
        .header .pure-menu li a:focus {
            /*background: none;
            border: none;
            color: #aaa;*/
        }

        .header .pure-menu li a.primary-button:hover,
        .header .pure-menu li a.primary-button:focus {
            background-color: #E74C3C;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
            background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));
            background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
            background-image:-moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));
            background-image:-ms-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
            background-image:-o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
            background-image:linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1))
        }

body .primary-button {
    background-color: $orange;
    color: #fff;
    border-bottom: 5px solid darken($orange, 5%);
}

body .secondary-button{
    background-color: $lightblue;
    color:#fff;
    border-bottom:5px solid darken($lightblue, 5%);
}

footer {
    min-height:6em;
    background-color: $footerBlack;
    padding:0 15%;

    p{
        text-align:center;
        color:$grey;
        line-height:6em;
        margin:0;

    }
    a{
        color:$grey;
    }
}

.content {
    padding: 0 15%;
    margin: 0 auto;
}

.section {
    h1{
        font-size:2em;
        font-weight: 200;
        color: $orange;
        margin-top:1.5em;
        text-align:center;
        line-height:2.5em;
        border-bottom:1px solid grey;
        padding-bottom:1.5em;
    }
}

.section.pricing {
    padding-top:3em;
    padding-bottom:3em;

    .callout-box{
        height:480px;
        background-color:$grey;
        margin:2em;
    }
}

.container {
    margin:0 auto;
    height:100%;
    
    .login {
        position: relative;
        top: 8em;
        width: 20em;
        margin: 0 auto;
        border-bottom: 1px solid #B7B7B7;
        padding: 2em 1.5em;
        background-color: #FFF;
        border-radius: 3px;
    
        h2{
            color: #565D64;
            text-align:center;
            font-weight:200;
            margin-top:0;
        }

    }
}

.splash {
    background-image: url("../images/bg2.jpg");
    background-color: transparent;
    background-color: black;
    background-size: cover;
    min-height:600px;

    p {
        text-align:center;
    }



    .splash-head {
        font-size: 300%;
        font-weight: 400;
        margin: 3.7em 0 0 0;
        line-height: 1.2em;
        color: white;
        text-align:center;
        text-transform:capitalize;
        letter-spacing: 3px;
        //text-shadow: black 0.1em 0.1em 0.2em;
    }
    .splash-subhead {
        color: white;
        font-weight: 200;
        line-height: 1.4em;
        margin-bottom:3em;
        padding: 0 25%;
        text-align:center;
    }
    .primary-button {
        font-size: 150%;
    }
}

.callout-title{
    color:$textBlack;
}

.pure-menu .pure-menu-heading{
    font-size: 1.4em;
}

.pure-menu ul{
    float:right;
    margin-right:16%;
    line-height: 2.4em;
}

.pure-menu.pure-menu-horizontal > .pure-menu-heading{
    margin-left:14%;
    float:left;
    text-transform:none;
}

.pure-form .pure-group input{
    border-radius:2px 2px 0 0;
}


.app {
    background-color: #272822;
    #code {
        display:none;
    }

    .firepad .CodeMirror{
        position:absolute;
        top: 0;
        height:100%;
        width:100%;
        left:0;
    }

    .cards {
        width:20em;
        position:absolute;
        right:2%;
        top:2%;
        height:auto;
        z-index:100;
    }

    .card {
        height: auto;
        background-color: #FFF;
        border-bottom: 1px solid #B7B7B7;
        padding: 1em;
        background-color: $grey;
        border-radius: 3px;
        margin-bottom:.4em;

        [contenteditable="true"].single-line {
            white-space: nowrap;
            overflow: hidden;
            position: relative;
            br{
                display:none;
            }
            * {
                display:inline;
                white-space:nowrap;
            }
            &:after{
                content: "";
                width: 1em;
                background-color: #FFF;
                position: absolute;
                height: 100%;
                right: 0px;
                top: 0px;
            }
        } 

        .pure-button{
            width: 48.2%;
            &:nth-of-type(odd){
                margin-right: 3.3%;
            }
    
        }
        hr{
            margin:1em 0;
        }

        .users, .questions{
            margin:0;
            padding:0;
            list-style-type: none;
            color:$textBlack;
            li {
                border-left: 5px solid $orange;
                margin-bottom:.7em;
                padding:6px 0 6px 1em;
                background-color:white;
                icon{
                    margin-left:2em;
                    color:$orange;
                }
                .icon-remove{
                    float:right;
                    color:$textBlack;
                    margin-top: 3px;
                    margin-right: 10px;
                    font-size: 1.3em;
                }
                &:last-child{
                    margin-bottom:0;
                }
            }
        }
    }
}

#modal{
    z-index: 10;
    top: 2%;
    position: absolute;
    left: 50%;
    margin-left: -375px;
    width: 750px;
    height:30em;
    opacity: 0;
    transition: opacity .3s ease;
    .new-question-form{
        float:right;
        width:500px;
        textarea{
            width:100%;
            min-height:30em;
        }
        .CodeMirror{
            border: 1px solid rgb(204, 204, 204);
            box-shadow: inset 0 1px 3px rgb(221, 221, 221);
            min-height:30em;
        }
    }
    #questions-list{
        float: left;
        width: 230px;
        margin-top: 5px;
        height:100%;
        overflow-y:scroll;
        li {
            border-left:5px solid $lightblue;
            cursor:pointer;
        }
        li:hover{
            border-left:5px solid $orange;
        }
        li.new{
            border-left:5px solid $orange;
        }
    }
}

.codrop-dropdown {
    position: relative; /* Enable absolute positioning for children and pseudo elements */
    margin: 0 auto;
    padding: 6px 0px 6px 1em;
    margin-bottom:1em;
    /* Styles */
    background: #fff;
    cursor: pointer;
    outline: none;
    &:after{
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        right: 16px;
        top: 50%;
        margin-top: -3px;
        border-width: 6px 6px 0 6px;
        border-style: solid;
        border-color: grey transparent;
    }
    &:last-child{
        margin-bottom:0;
    }
    .dropdown {
        /* Size & position */
        position: absolute;
        top: 100%;
        left: -5px;
        right: 0px;
        z-index:2;
        
        /* Styles */
        background: white;
        transition: all 0.3s ease-out;
        list-style: none;
        
        /* Hiding */
        opacity: 0;
        pointer-events: none;
        margin:0px;
        padding:0px;

        li {
            a{
                display: block;
                text-decoration: none;
                color: #333;
                border-left: 5px solid;
                padding: 6px 0 6px 1em;
                transition: all 0.3s ease-out;
            }
            &:nth-child(1n) a{
                border-left-color: #00ACED;
            }
            &:nth-child(2n) a{
                border-left-color: #4183C4;
            }

            i {
                margin-right: 5px;
                color: inherit;
                vertical-align: middle;
            }
            &:hover a{
                color: grey;
            }
        }
    }
}

#syntax{
    border-left: 5px solid $orange;
}

#theme{
    border-left: 5px solid $lightblue;
}

.codrop-dropdown.active:after {
    border-width: 0 6px 6px 6px;
}
 
.codrop-dropdown.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}
