@import "pure-min";

$deepblue: #2C3E50; 
$midblue: #2980B9;
$lightblue: #3DB1FF;
$grey: #ECF0F1;
$textBlack: #393939;
$footerBlack: #2F2F2F;
$orange: #E74C3C;

body {
    margin: 0 auto;
    line-height: 1.7em;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    height:100%;
    background-color: transparent;
    background-attachment: fixed;
    background-size: auto, cover;
    background-color: $grey;

}

p {
    color: #777;
}

.l-box {
    padding: 1em;
}

.header {
    margin: 0 0;
}

    .header .pure-menu {
        padding: 0.5em;
        background-color:rgba(255,255,255,0.9);
    }

        .header .pure-menu li a:hover,
        .header .pure-menu li a:focus {
            background: none;
            border: none;
            color: #aaa;
        }

body .primary-button {
    background-color: $orange;
    color: #fff;
    border-bottom: 5px solid darken($orange, 5%);
}

body .secondary-button{
    background-color: $lightblue;
    color:#fff;
    border-bottom:5px solid darken($lightblue, 5%);
}

footer {
    height:5em;
    background-color: $footerBlack;
    padding:0 15%;
}

.content {
    padding: 0 15%;
    margin: 0 auto;
}

.section {
    padding-bottom:2em;
    h1{
        font-size:2em;
        font-weight: lighter;
        color: $orange;
        margin-top:1.5em;
        text-align:center;
        line-height:2.5em;
        border-bottom:1px solid grey;
        padding-bottom:1.5em;
    }
    border-bottom:1px solid white;
}

.section.pricing {
    padding-top:3em;
    padding-bottom:3em;

    .callout-box{
        height:480px;
        background-color:$grey;
        margin:2em;
    }
}

.container {
    margin: 3.7em auto 0;
    height:100%;
    
    .login {
        position: relative;
        top: 10%;
        width: 20%;
        margin: 0 auto;
        border-bottom: 1px solid #B7B7B7;
        padding: 2em 1.5em;
        background-color: #FFF;
        border-radius: 3px;
    
        h2{
            color: #565D64;
            text-align:center;
            font-weight:lighter;
            margin-top:0;
        }

    }
}

.splash {
    padding: 3em 0.5em;
    background-image: url("../images/bg.jpg");
    background-color: transparent;
    background-color: $lightblue;
    background-size: cover;
    min-height:600px;

    p {
        text-align:center;
    }



    .splash-head {
        font-size: 300%;
        font-weight: 300;
        margin: 2em 0 0 0;
        line-height: 1.2em;
        color: white;
        text-align:center;
        text-transform:capitalize;
        //text-shadow: black 0.1em 0.1em 0.2em;
    }
    .splash-subhead {
        color: white;
        font-weight: 100;
        line-height: 1.4em;
        margin-bottom:2em;
        padding: 0 25%;
        text-align:center;
    }
    .primary-button {
        font-size: 150%;
    }
}

.callout-title{
    color:$textBlack;
}

.pure-menu-heading{
    zoom: 1.5;
}

.pure-menu ul{
    float:right;
    margin-right:16%;
    line-height: 2.4em;
}

.pure-menu.pure-menu-horizontal > .pure-menu-heading{
    margin-left:14%;
    float:left;
    text-transform:none;
}

.pure-form .pure-group input{
    border-radius:2px 2px 0 0;
}


.app {
    .firepad .CodeMirror{
        position:absolute;
        top: 0;
        height:100%;
        width:100%;
        left:0;
    }

    .cards {
        width:20em;
        position:absolute;
        right:2%;
        top:2%;
        height:auto;
        z-index:100;
    }

    .card {
        height: auto;
        background-color: #FFF;
        border-bottom: 1px solid #B7B7B7;
        padding: 1em;
        background-color: $grey;
        border-radius: 3px;
        margin-bottom:.4em;
        .pure-button{
            width: 47%;
            &:nth-child(odd){
                margin-right:.8em;
            }
    
        }

        .users{
            margin:0;
            padding:0;
            list-style-type: none;
            color:$textBlack;
            li {
                border-left: 5px solid $orange;
                margin-bottom:.7em;
                padding-left:.3em;
                background-color:white;
                icon{
                    color:$orange;
                }
                .icon-remove{
                    float:right;
                    color:$textBlack;
                    margin-top: 3px;
                    margin-right: 10px;
                    font-size: 1.3em;
                }
                &:last-child{
                    margin-bottom:0;
                }
            }
        }
    }
}
