!!! 5
head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
	title Hiresync
	meta(name='description', content='')
	meta(name='viewport', content='width=device-width')
	//Place favicon.ico and apple-touch-icon.png in the root directory 
	//build:css({.tmp,app}) styles/main.css 
	link(rel='stylesheet', href='../bower_components/hint.css/hint.min.css')
	link(rel='stylesheet', href='../css/main.css')

	//endbuild 
	//build:css({.tmp,app}) styles/codemirror.css 
	link(href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css', rel='stylesheet')
	link(rel='stylesheet', href='../bower_components/CodeMirror/lib/codemirror.css')
	link(rel='stylesheet', href='../bower_components/CodeMirror/theme/monokai.css')
	link(rel='stylesheet', href='../bower_components/CodeMirror/theme/solarized.css')

	link(href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css', rel='stylesheet')
	//endbuild 
body.app
	div#loader
	.cards
	.modal.card.snippets
		ul.questions#questions-list

		form.pure-form.new-question-form(method="post")
			fieldset.pure-group
				input.pure-input-1(type='text', placeholder='Title', name="title")
				div.syntax.codrop-dropdown JavaScript
					ul.dropdown
				textarea
			button.pure-button.pure-input-1.pure-button.secondary-button.load(type='cancel') Load Question
			button.pure-button.pure-input-1.pure-button.primary-button.save(type='submit') Save/Update

	.modal.card.recording-modal
		form.pure-form.new-question-form(method="post")
			fieldset.pure-group
				legend	Please enter a name for this recording
				input.pure-input-1.recording-name(type='text', placeholder='Name', name='name')
			button.pure-button.pure-input-1.pure-button.secondary-button.recording-cancel(type='cancel') Cancel
			button.pure-button.pure-input-1.pure-button.primary-button.recording-save(type='submit') Save Recording

	textarea#code

	script(type='text/template', id='main-card-tpl')
		.card
			button.pure-button.primary-button 
				a(href='/app') New
			button.pure-button.secondary-button.newTemplate.need-auth 
				| Snippets
			hr
			div.syntax.codrop-dropdown JavaScript
				ul.dropdown

			div.theme.codrop-dropdown Monokai
				ul.dropdown
			hr
			ul.users#users

		.card
			button.pure-button.primary-button.need-auth.save-recording Save Recording 

			

	script(type='text/template', id='user-list-item-tpl')
		li.single-line(contenteditable!='<%=contenteditable%>')
			| <%=name%>

	script(type='text/template', id='editor-dropdown-list-item-tpl')
		li
			a(data-path!='<%=itemPath%>', href='#') <%=item%>

	//build:js js/app.js 
	if (user)
		script
			window.user = "#{user.username}";
	script(src='https://cdn.firebase.com/v0/firebase.js')
	script(data-main='../js/init', src='../bower_components/requirejs/require.js')
	//endbuild 
