extends layout

block content
    .splash.pure-u-1
        .l-box.splash-text
            h1.splash-head
                | The easiest way to perform technical interviews
            h2.splash-subhead
            p
                a.pure-button.primary-button(href='/demo') Get Started
    .content
      .pure-g-r
        .pure-u-1-2
          .l-box
            h3
              i.icon-group
              | Collaborative
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        .pure-u-1-2
          .l-box
            h3 Complete
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
        .pure-u-1-2
          .l-box
            h3 Industrial Strength
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
        .pure-u-1-2
          .l-box
            h3 Free and Open
            p
              | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting
