extends layout

block content
    .container
        .splash.pure-u-1
            .l-box.splash-text
                h1.splash-head
                    | Hire with Confidence 
                    if (user)
                        | #{user.username}
                h2.splash-subhead
                    | Stop wasting time interviewing the wrong candidates. 
                    br
                    | Hiresync helps you find the right person for the job.
                p
                    a.pure-button.primary-button(href='/signup') Get Started
        .content.section
            h1 What makes Hiresync so awesome?

            .pure-g-r
                .pure-u-1-4
                    .l-box
                        h3.callout-title
                            | Designed for Teams
                        p
                            | Interviews are automatically recorded and saved to your account, letting you watch and review the candidate's performance witih the rest of your team.
                .pure-u-1-4
                    .l-box.callout-title
                        h3 Realtime Collaboration
                        p
                            | Interact with your candidate's code in real time. Collaborative editing powered by Operational Transforms means seamless collaboration in any network condition.
                .pure-u-1-4
                    .l-box.callout-title
                        h3 Question Bank
                        p
                            | Save commonly used coding challenges to your account, and reuse them easily with any candidate.
                .pure-u-1-4
                    .l-box.callout-title
                        h3 Multi Language Support
                        p
                            | Hiresync supports syntax highlighting and in-browser compiling for Javascript, Ruby, Python Java, and even more coming soon!

        .content.section.pricing.pure-g-r
                .pure-u-1-3
                    .callout-box

                .pure-u-1-3
                    .callout-box


                .pure-u-1-3
                    .callout-box





    footer.footer

