doctype 5
head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title Hiresync
    meta(name='description', content='Hiresync is the easiest way to screen developers for your interview process. Collaborative code editing, record sessions, and share them with your team for later review.')
    meta(name='viewport', content='width=device-width')
    link(rel='stylesheet', href='css/main.css')
    link(href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css', rel='stylesheet')
    script
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-26027343-2', 'hiresync.io');
        ga('send', 'pageview');
          
    body(class=landing)
        header.content.pure-g-r
            .header.pure-u-1
                .pure-menu.pure-menu-open.pure-menu-fixed.pure-menu-horizontal
                    a.pure-menu-heading(href='/') Hiresync 
                    ul
                        li
                            a(href='/app') Demo
                        if (user)
                            li
                                a(href='/logout') Logout
                        else
                            li
                                a(href='/login') Login
                            li
                                a.primary-button.pure-button(href='/signup') Sign Up

    
        block content


